when time > 1 then
    Modelica.Utilities.Files.remove("test.txt");
  	Modelica.Utilities.Streams.print(
  	  "baro.k1="+String(baro.k1)+"\n"
      +"baro.k2="+String(baro.k2)+"\n"
      +"baro.p0="+String(baro.p0)+"\n"
      +"blood.initialPressure="+String(blood.initialPressure)+"\n"
      +"cNeAmount.initialConcentration="+String(cNeAmount.initialConcentration)+"\n"
      +"cNeEmit.Tuptake="+String(cNeEmit.Tuptake)+"\n"
      +"cNeEmit.prodFac="+String(cNeEmit.prodFac)+"\n"
      +"cNeEmit.triggerDelay="+String(cNeEmit.triggerDelay)+"\n"
      +"conc_cNe="+String(conc_cNe)+"\n"
      +"conc_vNe="+String(conc_vNe)+"\n"
      +"heart.S0="+String(heart.S0)+"\n"
      +"heart.Tsys="+String(heart.Tsys)+"\n"
      +"heart.facCcne="+String(heart.facCcne)+"\n"
      +"heart.facCvne="+String(heart.facCvne)+"\n"
      +"heart.facCvneWind="+String(heart.facCvneWind)+"\n"
      +"heart.facT="+String(heart.facT)+"\n"
      +"heart.initialPlast="+String(heart.initialPlast)+"\n"
      +"heart.initialS="+String(heart.initialS)+"\n"
      +"heart.initialTlast="+String(heart.initialTlast)+"\n"
      +"heart.maxCvne="+String(heart.maxCvne)+"\n"
      +"heart.maxS="+String(heart.maxS)+"\n"
      +"heart.satExpCvne="+String(heart.satExpCvne)+"\n"
      +"heart.satExpS="+String(heart.satExpS)+"\n"
      +"heart.tauv0="+String(heart.tauv0)+"\n"
      +"hypertension="+String(hypertension)+"\n"
      +"last_beat_p="+String(last_beat_p)+"\n"
      +"lung.G="+String(lung.G)+"\n"
      +"lung.Tresp="+String(lung.Tresp)+"\n"
      +"lung.initialR="+String(lung.initialR)+"\n"
      +"lung.nu_trig="+String(lung.nu_trig)+"\n"
      +"pacemaker="+String(pacemaker)+"\n"
      +"para.baro_influence="+String(para.baro_influence)+"\n"
      +"para.resp_influence="+String(para.resp_influence)+"\n"
      +"para.scaling_factor="+String(para.scaling_factor)+"\n"
      +"para.v0="+String(para.v0)+"\n"
      +"pressure="+String(pressure)+"\n"
      +"respiratory_phase="+String(respiratory_phase)+"\n"
      +"sinus.T0="+String(sinus.T0)+"\n"
      +"sinus.ccneMax="+String(sinus.ccneMax)+"\n"
      +"sinus.ccneSatexp="+String(sinus.ccneSatexp)+"\n"
      +"sinus.initialPhase="+String(sinus.initialPhase)+"\n"
      +"sinus.paraDelay="+String(sinus.paraDelay)+"\n"
      +"sinus.paraMax="+String(sinus.paraMax)+"\n"
      +"sinus.paraSatexp="+String(sinus.paraSatexp)+"\n"
      +"sinus.sfpara="+String(sinus.sfpara)+"\n"
      +"sinus.sfsym="+String(sinus.sfsym)+"\n"
      +"sinus.symDelay="+String(sinus.symDelay)+"\n"
      +"symp.baro_influence="+String(symp.baro_influence)+"\n"
      +"symp.resp_influence="+String(symp.resp_influence)+"\n"
      +"symp.v0="+String(symp.v0)+"\n"
      +"vNeAmount.initialConcentration="+String(vNeAmount.initialConcentration)+"\n"
      +"vNeEmit.Tuptake="+String(vNeEmit.Tuptake)+"\n"
      +"vNeEmit.baseSignal="+String(vNeEmit.baseSignal)+"\n"
      +"vNeEmit.prodFac="+String(vNeEmit.prodFac)+"\n"
      +"vNeEmit.triggerDelay="+String(vNeEmit.triggerDelay)+"\n"
  	  ,
  	  "test.txt"
    );
  end when;